<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask learn - home</title>
  </head>
  <body>
    <h1>This is home</h1>
    <h3>{{data['name']}}</h3>

    <p>{{data['numbers']}}</p>

    {% for i in data['numbers'] %}
        {% if i==5 %}
            <h1>{{i}}</h1>
        {% endif %}
        <h5>{{i}}</h5>
    {%endfor%}


    <a href="/about">Go about</a>
    <a href="/contact">Go contact</a>
  </body>
</html>
