{% extends "layout.html" %}
{% block body %}

<div class="container mt-5">
    <div class="my-5">
        <form action="/home" method="POST" class="d-flex" >
            <input class="form-control" placeholder="Add todo..." type="text" name="title" id="">
            <input class="btn btn-primary" type="submit" value="Add Todo">
        </form>
    </div>
    <div>
        {% for todo in data %}
            <div>
                <p>{{ todo.id }}: {{ todo.title }}</p>
                <div>
                    <a href="/remove/{{todo.id}}" class="btn btn-danger">Delete</a>
                    <a href="/update/{{todo.id}}" class="btn btn-info">Update</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}